In [1]:
import pandas as pd

In [4]:
df_detections = pd.read_csv('detections_latest.csv', header=None)

In [5]:
df_detections.head()

        0  1      2      3      4      5  6       7
0  images  0  0.799  0.525  0.886  0.599  1  1.0000
1  images  0  0.799  0.525  0.886  0.599  2  0.0000
2  images  0  0.799  0.525  0.886  0.599  3  0.0000
3  images  0  0.799  0.525  0.886  0.599  4  0.0000
4  images  0  0.801  0.814  0.819  0.850  1  0.9997

In [6]:
df_detections.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 48 entries, 0 to 47
Data columns (total 8 columns):
 #   Column  Non-Null Count  Dtype
---  ------  --------------  -----
 0   0       48 non-null     object
 1   1       48 non-null     int64
 2   2       48 non-null     float64
 3   3       48 non-null     float64
 4   4       48 non-null     float64
 5   5       48 non-null     float64
 6   6       48 non-null     int64
 7   7       48 non-null     float64
dtypes: float64(5), int64(2), object(1)
memory usage: 3.1+ KB